{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
 <h1> Hi {{ user.username }}!</h1>
   <p><a href="{% url 'logout' %}">Log Out</a></p>
   {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<h1>MY NEW PAGE ABOUT DRUMMING</h1>

<img src = "https://images.unsplash.com/photo-1543443258-92b04ad5ec6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZHJ1bXxlbnwwfHwwfHw%3D&w=1000&q=80">

<h1>What do you know about drumming ?</h1>
<p>What do you know about the drums?</p>

    <p>Did you know that drums are one of the oldest musical instruments in the world.</p>
    <p> Drums,
     made with alligator skins, have been found in China dating back to 5500-2350 BC!</p> 
     <p>Drums have more uses than just being musical.</p> 
     <p>Throughout history they have also been used for communication over great distances.</p>
    <br>
<h1>Interesting facts about drums and drumming</h1>

<p>
<ol>
<li>Drums were with us from the dawn of mankind. </li>
<li>Modern configuration of drum sets become in use during first years of 20th century.</li>
<li>Brushes that create softer drum sound were used in drumming ever since 1920s.</li>
<li>Drums are the most important part of the rhythm section of any band.</li>
</ol>
</p>





{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}

